@layer reset, base, layouts, components, utilities;

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    /* outline: green 1px solid; */
  }

  * {
    margin: 0;
    padding: 0;
    font: inherit;
    /* Get rid of all font sizes and heights */
  }

  html {
    color-scheme: dark light;
    /* Default dark */
    hanging-punctuation: first last;
    /* Not supported in Chrome */
  }

  body {
    min-height: 100vh;
  }

  /* Media responsive */
  img,
  picture,
  svg,
  video {
    display: block;
    max-width: 100%;
  }

  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }

  p {
    max-width: 75ch;
    text-wrap: pretty;
    /* Prevents orphans on lines */
  }

  h1, h2, h3, h4, h5, h6, p, span, a {
    color: var(--clr-primary);
  }

  @media (prefers-reduced-motion: no-preference) {
    :has(:target) {
      scroll-behavior: smooth;
      scroll-padding-top: 3rem;
    }
  }
}

@layer base {
  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --clr-primary: #fff;
    --clr-secondary: #000;
    --clr-terciary: #202020;

    --clr-meter-display-boundary: #d3d3d3;

    --min-col-width: 25rem;
    --border-radius-primary: 1rem;
  }

  @media (prefers-color-scheme: light) {
    :root {
      --clr-primary: #000;
      --clr-secondary: #fff;
    }
  }
}

@layer layouts {
  main {
    min-height: 100svh;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    background-color: var(--clr-secondary);
  }

  @media (width < 50rem) {
    main {
      grid-template-columns: 1fr;
    }

    section:first-child {
      display: none;
    }
  }
}

@layer components {
  .meter {
    --padding: 2rem;
    aspect-ratio: 3 / 4;

    width: min(100% - var(--padding), (100svh - var(--padding)) * 0.75);

    display: flex;
    flex-direction: column;

    background-color: var(--clr-terciary);
    border-radius: var(--border-radius-primary);

    > * {
      flex: 1 1 0;
    }
  }

  .meter__display {
    --margin: 8%;

    display: grid;
    overflow: hidden;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    margin-block-start: var(--margin);
    margin-inline: var(--margin);
    border-radius: var(--border-radius-primary);
    background-color: var(--clr-primary);
  }

  .meter__display__boundary {
    align-self: center;
    justify-self: center;

    grid-row: 1 / span 3;
    width: 1rem;
    height: 100%;

    background-color: var(--clr-meter-display-boundary);
  }

  .meter__display__boundary:first-child {
    grid-column-start: 1;
    rotate: -20deg;
  }

  .meter__display__boundary:last-child {
    grid-column-start: 3;
    rotate: 20deg;
  }
}